/* 
    Document   : application.css
    Created on : 18-nov-2013, 15.46.13
    Author     : Davide
    Description:
        Purpose of the stylesheet follows.
*/
body{
    font-family: 'Source Sans Pro', sans-serif;
    color:#555555;
    background-image:url('shattered.png');
    margin:0px;
}

.login-input{
    margin-top: 8px;
}

#login-title{
    color:#6ECFF5;
}

.center{
   text-align: center; 
}

.user-image{
    border: solid 20px #555555;
}

.menu-item{
    padding: 50px;
}