/* 
    Document   : application.css
    Created on : 18-nov-2013, 15.46.13
    Author     : Davide
    Description:
        Purpose of the stylesheet follows.
*/


#tasto:hover{
    color:#6ECFF5;
}

body, html {
    font-family: 'Source Sans Pro', sans-serif;
    color:#555555;
    background-image:url('shattered.png');
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.pushed {
    margin-left: 275px !important;
}

#main-container {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 4rem;
}

a {
    color: #009FDA;
    text-decoration: none;
}

.home-menu{
    height:100%;
    min-height:100%;
}

.login-input{
    margin-top: 8px;
}

#login-title{
    color:#6ECFF5;
}

.center{
    text-align: center;
    margin: 0 auto;
}

.user-image{
    border: solid 20px #555555;    
}

.menu-item{
    padding: 50px;
}

#null-item:hover{
    cursor:default;
}

.scrivente-image{
    border: solid 10px #6ECFF5;
}


.tip-l:before {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 20px;
  position: absolute;
  bottom: 20px;
  left: -40px;
}

.tip-r:before {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 20px;
  position: absolute;
  bottom: 20px;
  right: -40px;
}