<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>LoggedFilter</filter-name>
        <filter-class>com.deadormi.util.LoggedFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GroupFilter</filter-name>
        <filter-class>com.deadormi.util.GroupFilter</filter-class>
    </filter>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TuoiGruppiServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.TuoiGruppiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GruppoServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.GruppoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvitoServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.InvitoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaGruppoServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.CreaGruppoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaPostServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.CreaPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaGruppoServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.ModificaGruppoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/secure/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/secure/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TuoiGruppiServlet</servlet-name>
        <url-pattern>/secure/tuoi_gruppi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GruppoServlet</servlet-name>
        <url-pattern>/secure/gruppo/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvitoServlet</servlet-name>
        <url-pattern>/secure/inviti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaGruppoServlet</servlet-name>
        <url-pattern>/secure/crea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaPostServlet</servlet-name>
        <url-pattern>/secure/nuovo_post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaGruppoServlet</servlet-name>
        <url-pattern>/secure/modifica_gruppo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>CreaPostFilter</filter-name>
        <filter-class>com.deadormi.util.CreaPostFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ModificaGruppoFilter</filter-name>
        <filter-class>com.deadormi.util.ModificaGruppoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ModificaGruppoFilter</filter-name>
        <servlet-name>ModificaGruppoServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CreaPostFilter</filter-name>
        <servlet-name>CreaPostServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GroupFilter</filter-name>
        <servlet-name>GruppoServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggedFilter</filter-name>
        <url-pattern>/secure/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>listener</description>
        <listener-class>com.deadormi.dbmanager.WebappContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:derby://localhost:1527/PrimoProgetto_Local;user=root;password=root;</param-value>
    </context-param>
    <context-param> 
        <description>Location to store uploaded file</description> 
        <param-name>file-upload</param-name> 
        <param-value>
            c:/file_progetto/
        </param-value> 
    </context-param>
    <env-entry> 
        <env-entry-name>file-upload</env-entry-name> 
        <env-entry-value>c:/file_progetto/</env-entry-value> 
        <env-entry-type>java.lang.String</env-entry-type> 
    </env-entry>
</web-app>
