<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>LoggedFilter</filter-name>
        <filter-class>com.deadormi.util.LoggedFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggedFilter</filter-name>
        <url-pattern>/secure/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <description>listener</description>
        <listener-class>com.deadormi.dbmanager.WebappContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:derby://localhost:1527/PrimoProgetto_Local;user=root;password=root;</param-value>
    </context-param>
</web-app>
